# Dépendances
node_modules/
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

# Configuration locale de l'éditeur
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
